{% extends "base_with_header.html" %}
{% load staticfiles %}
{% load genre %}

{% block scripts %}
	{{ block.super }}
	<link rel="stylesheet" href='{% static 'stations/pick-a-color/pick-a-color-1.2.3.min.css' %}'>
	<link rel="stylesheet" href="{% static 'typeahead.css' %}">
{% endblock %}

{% block pagetitle %}
New Genre
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<form id="genre_form" class="form-horizontal" action="{{ request.path }}" method="post" role="form">
	{% csrf_token %}
	{{ form.non_field_errors }}

		<!-- Name -->
		<div class="{{ form.name.auto_id }}_container form-group">
			{{ form.name.errors }}
			<label class="col-sm-2 control-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
			<div class="col-sm-10">
				<input class="form-control" id="{{ form.name.auto_id }}" type="text" name="{{ form.name.name }}" maxlength="{{ form.name.field.widget.attrs.maxlength }}" value="{{ form.name.value |default_if_none:"" }}"/>
			</div>
		</div>

		<!-- CopyOf -->
		<div class="{{ form.copyOf.auto_id }}_container form-group">
			{{ form.copyOf.errors }}
			<label class="col-sm-2 control-label" for="{{ form.copyOf.auto_id }}">{{ form.copyOf.label }}</label>
			<div class="col-sm-10">
				<div class="input-group copyOf_toggle">
					<span class="input-group-addon">
						<input id="is_copy" type="checkbox">
					</span>
					<input class="form-control copy_input typeahead" id="{{ form.copyOf.auto_id }}" type="text" name="{{ form.copyOf.name }}" maxlength="{{ form.copyOf.field.widget.attrs.maxlength }}" value="{{ form.name.value |default_if_none:"" }}"/>
				</div>
				<span id="copy_of_selected" class="copyOf_toggle" style="display: none"></span>
			</div>
		</div>

		<!-- Description -->
		<div class="{{ form.description.auto_id }}_container form-group genre_property">
			{{ form.description.errors }}
			<label class="col-sm-2 control-label" for="{{ form.description.auto_id }}">{{ form.description.label }}</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="{{ form.description.auto_id }}" type="text" name="{{ form.description.name }}" rows="4" cols="40">{{ form.description.value |default_if_none:"" }}</textarea>
			</div>
		</div>

		<div class="form-group row">
			<!-- Color -->
			<div class="{{ form.color.auto_id }} genre_property">
				{{ form.color.errors }}
				<label class="col-sm-2 control-label" for="{{ form.color.auto_id }}">{{ form.color.label }}</label>
				<div class="col-sm-5 col-md-3">
					<input class="color-picker form-control" id="{{ form.color.auto_id }}" type="text" name="{{ form.color.name }}" maxlength="{{ form.color.field.widget.attrs.maxlength }}" value="{{ form.color.value |default_if_none:"" }}"/>
				</div>
			</div>

			<!-- Example -->
			<div class="col-sm-3 col-md-5">
				{% genre_def "Preview" "FFFFFF" css_id="example" css_class="label" %}
			</div>
	
			<!-- Submit -->
			<div class="col-sm-2">
				<button id="submit_btn" type="submit" class="btn btn-primary pull-right" data-loading-text="Saving">Create</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block body_scripts %}
	{{ block.super }}
	<script type='text/javascript' src='{% static 'typeahead.bundle.min.js' %}'></script>
	<script src='{% static 'stations/pick-a-color/tinycolor-0.9.15.min.js' %}'></script>
	<script src='{% static 'stations/pick-a-color/pick-a-color-1.2.3.min.js' %}'></script>

	<script type="text/javascript">
		$(".color-picker").pickAColor({
			showSavedColors: false,
			allowBlank: true,
			inlineDropdown: true
		});
	</script>


	{% genre_def_js %}
	{% genre_add_js %}

	<script src='{% static 'stations/copyOf.js' %}'></script>
	<script src='{% static 'stations/style_example.js' %}'></script>
	<script src='{% static 'stations/genres_typeahead.js' %}'></script>
	<script src='{% static 'stations/genre_ajax_submit.js' %}'></script>
{% endblock %}
