{% extends "base_with_header.html" %}
{% load staticfiles %}

{% block pagetitle %}
New Station
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<form class="form-horizontal" action="{% url 'stations:list' %}" method="post" role="form">
	{% csrf_token %}
	{{ form.non_field_errors }}

	<!-- Name -->
	<div class="{{ form.name.auto_id }}_container form-group">
		{{ form.name.errors }}
		<label class="col-sm-2" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
		<input class="col-sm-10" id="{{ form.name.auto_id }}" type="text" name="{{ form.name.name }}" maxlength="{{ form.name.field.widget.attrs.maxlength }}" value="{{ form.name.value |default_if_none:"" }}"/>
	</div>

	<!-- Description -->
	<div class="{{ form.description.auto_id }}_container form-group">
		{{ form.description.errors }}
		<label class="col-sm-2" for="{{ form.description.auto_id }}">{{ form.description.label }}</label>
		<textarea class="col-sm-10" id="{{ form.description.auto_id }}" type="text" name="{{ form.description.name }}" rows="{{ form.description.field.widget.attrs.rows }}" cols="{{ form.description.field.widget.attrs.cols }}">{{ form.description.value |default_if_none:"" }}</textarea>
	</div>

	<!-- Addresses -->
	<fieldset id="addresses">
		<legend>Web Addresses</legend>
			{{ address_formset.management_form }}
	</fieldset>
	
	<!-- Station Genres -->
	<fieldset id="station-genres">
		<legend>Genres</legend>
			<!-- Genre -->
			<div class="{{ genre_formset.0.genre.auto_id }}_container form-group">
				{{ genre_formset.0.description.errors }}
				<label class="col-sm-2" for="{{ genre_formset.0.genre.auto_id }}">{{ genre_formset.0.genre.label }}</label>
				<input class="col-sm-10" id="{{ genre_formset.0.genre.auto_id }}" type="text" name="{{ genre_formset.0.genre.name }}" maxlength="{{ genre_formset.0.genre.field.widget.attrs.maxlength }}" value="{{ genre_formset.0.genre.value |default_if_none:"" }}"/>
			</div>
	</fieldset>
	
	<input type="submit" value="Create" />
</form>
{% endblock %}

{% block body_scripts %}
	{{ block.super }}
	<script type='text/javascript'>
		var addressTemplate = '			<!-- URL --> \n' +
			'			<div class="{{ address_formset.0.url.auto_id }}_container form-group addresses_set"> \n' +
			'				{{ address_formset.0.description.errors }} \n' +
			'				<div class="input-group has-feedback"> \n' +
			'					<span class="input-group-btn"> \n' +
			'						<button type="button" class="btn btn-default"> \n' +
			'							<span class="glyphicon glyphicon-sort"></span> \n' +
			'						</button> \n' +
			'					</span> \n' +
			'					<input class="form-control address_url has_clear" id="{{ address_formset.0.url.auto_id }}" type="text" name="{{ address_formset.0.url.auto_id }}" maxlength="{{ address_formset.0.url.field.widget.attrs.maxlength }}" value="{{ address_formset.0.url.value |default_if_none:"" }}" placeholder="{{ address_formset.0.url.label }}"/> \n' +
			'					<span class="glyphicon glyphicon-remove form-control-feedback clearer"></span> \n' +
			'				</div> \n' +
			'			</div>';
	</script>
	<script type='text/javascript' src='{% static 'stations/createStationFormsets.js' %}'></script>
{% endblock %}
