{% extends "base_with_header.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block pagetitle %}
New Station
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}

{% block content %}

{% crispy form %}

<form action="" method="post">
	{% csrf_token %}
	
   	<p>
		{{ form.name.errors }}
		<label for="id_name">Name:</label>
		{{ form.name }}
	</p>
	<p>
		{{ form.description.errors }}
		<label for="id_description">Description:</label>
		{{ form.description }}
	</p>
	<fieldset id="addresses">
		<legend>Web Addresses:</legend>
		{% for a_form in address_formset %}
		{% endfor %}
		{{ address_formset.management_form }}
	</fieldset>
    <input type="submit" value="Create" />
</form>
{% endblock %}

{% block body_scripts %}
	{{ block.super }}
	<script type='text/javascript'>
		var addressTemplate = '<div class="addresses_set">{{ a_form.url }}</div>';
	</script>
	<script type='text/javascript' src='{% static 'stations/createStationFormsets.js' %}'></script>
{% endblock %}
