{% extends "base.html" %}

{% block pagetitle %}
List of Webradio Stations
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}

{% block content %}
    <ul>
		{% for station in stations %}
            <li>
            <h2>{{ station.name }}</h2>
            <ul>
            	{% for genre in station.genres.all %}
            		<li>{{ genre.name }}</li>
            	{% endfor %}
            </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}