#addresses_id {
	list-style-type: none;
}

#selected_genres {
	list-style-type: none;
}

#selected_genres li {
	display: inline-block;
	margin-right: 2px;
}

.label {
	display: inline-block;
}

.glyphicon {
	cursor: default;
}

.glyphicon.glyphicon-remove, .glyphicon.glyphicon-sort {
	cursor: pointer;
}