#addresses_id {
	list-style-type: none;
}

ul#selected_genres {
	padding-left: 0;
	display: inline;
	list-style-type: none;
}

#selected_genres li {
	display: inline-block;
	margin-right: 2px;
}

.form-control .tag_input {
	height: auto;
}

.label {
	display: inline-block;
}

.glyphicon {
	cursor: default;
}

.glyphicon.glyphicon-remove, .glyphicon.glyphicon-sort {
	cursor: pointer;
}